// Mixins Here

// Button Parametric Mixin

.button(@width, @height, @bg-color, @font-color, @font-size) {
    width: @width;
    height: @height;
    background: @bg-color;
    color: @font-color;
    font-size: @font-size;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

// Phone size mixin

.phone-sizing () {
    width: 98%;
     margin: 5px 1%;
}

.nav-footer() {
    background: @footer-background;
    display: flex;
    justify-content: center;
    align-items: center;
  

}